.header
  = render partial: "render/header"
  
.signup
  %h2 新規登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .signup_box_box
      .signup_box_email
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .signup_box_pass
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .signup_box_confirm
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .signup_box_action
        = f.submit "Sign up"
    = render "devise/shared/links"

.footer 
  app/views/devise/registrations/new.html.haml
