.header
  = render partial: "render/header"

.signup-display
  .signup-display__text
    新規登録

.signup
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .signup__box
      .signup__box--name
        = f.label :"ユーザー名"
        = f.text_field :nickname, autofocus: true, placeholder:"例) 山田"
      .signup__box--email
        = f.label :"メールアドレス"
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .signup__box--pass
        = f.label :"パスワード"
        - if @minimum_password_length
          -# (#{@minimum_password_length} characters minimum)
        = f.password_field :password, autocomplete: "new-password"
      .signup__box--confirm
        = f.label :"確認用パスワード"
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .signup__box--action
        = f.submit "Sign up"
    -# = render "devise/shared/links"
.signup-to-top
  = link_to root_path do
    TOP画面に戻る
.footer 
  app/views/devise/registrations/new.html.haml
