.app-title
  .app-title__text
    地図から学ぶ日本の偉人たち
.login-display
  .login-display__text
    ログイン

.login-box
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .login-box__row-size
      .login-box__row-size--email
        = f.label :email                                                # テキスト
        = f.email_field :email, id: 'email-form', autofocus: true, autocomplete: "email"  # フォーム
      .login-box__row-size--pass
        = f.label :password                                             # テキスト
        = f.password_field :password, id: 'pass-form', autocomplete: "current-password"  # フォーム
    
    - if devise_mapping.rememberable?
      .login-box__row-size--remember-pass
        = f.check_box :remember_me  # チェックボックス(レ点用)
        = f.label :remember_me      # 左記のテキスト
    
      .login-box__row-size--login-btn
        = f.submit "Log in", id: 'login-btn'           # <log in> ボタン

    -# = render "devise/shared/links"   #log inの下のSign upと下の行のForget your password?の２行をrenderで引き出している

.footer
  app/views/devise/sessions/new.html.haml
