.header
  = render partial: "render/header"

.prefecture-img
  = image_tag 'Pre.23.aichi.png', :height => "760", :width => "760" 
.prefecture-img
  = @prefectureName
-# app/assets/images/織田信長.jpeg
-# app/assets/images/徳川家康.jpeg
-# app/assets/images/豊臣秀吉.jpeg
.historical-figures
  .historical-figures__index
    .historical-figures__index__icon 
      = image_tag '織田信長.jpeg', id: "img"
      .historical-figures__index__icon--text
        織田信長
    .historical-figures__index__name
      .historical-figures__index__name--land-related
        ゆかりの地
      .historical-figures__index__name--add
        愛知県西部
      .historical-figures__index__name--another-name
        異名
      .historical-figures__index__name--another-name-one
        第六天魔王

  .historical-figures__index
    .historical-figures__index__icon
      = image_tag '豊臣秀吉.jpeg', id: "img"
      .historical-figures__index__icon--text
        豊臣秀吉
    .historical-figures__index__name
      .historical-figures__index__name--land-related
        ゆかりの地
      .historical-figures__index__name--add
        愛知県西部
      .historical-figures__index__name--another-name
        異名
      .historical-figures__index__name--another-name-one
        太閤殿下

  .historical-figures__index
    .historical-figures__index__icon 
      = image_tag '徳川家康.jpeg', id: "img"
      .historical-figures__index__icon--text
        徳川家康
    .historical-figures__index__name
      .historical-figures__index__name--land-related
        ゆかりの地
      .historical-figures__index__name--add
        愛知県東部
      .historical-figures__index__name--another-name
        異名
      .historical-figures__index__name--another-name-one
        東海一の弓取り


.footer
  = render partial: "render/footer"