.header
  = render partial: "render/header"

.transition-bar
  .transition-bar__logout
    = link_to destroy_user_session_path(current_user) , method: :delete, class: 'btn-sign-out' do
      ログアウト
  .transition-bar__register
    = link_to new_user_registration_path do
      新規登録
  .transition-bar__login
    = link_to new_user_session_path do
      ログイン
  .transition-bar__guest
    = link_to "#" do
      ゲストログイン

.japan-map
  日本地図-地方別

  %script{:src => "//code.jquery.com/jquery-1.12.0.min.js"}
  = javascript_include_tag 'jquery.japan-map.min.js'
  :javascript
    $(function(){
      $("#map-container").japanMap({
          width:760,
          backgroundColor: 'linear-gradient(#05FBFF, #1E00FF)',
          onSelect : function(data){
              alert(data.name);
          }
        });
    });
.japan-map
  #map-container

.footer
  = render partial: "render/footer"